.slidev-layout {
  h1 + p {
    @apply mt-4 opacity-100 mb-4;
  }

  h1 + h2 {
    @apply mt-4 mb-2;
  }

  .col-left,
  .col-right {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .slidev-layout.quote p {
    font-size: 2rem;
  }
}

div[class*="mr-14"] {
  background-size: contain !important;
}

