#slideshow {
  background: rgb(247, 246, 251);
  position: relative;
}

#dvd-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.logo {
  width: 100px;
}

.slidev-layout {
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  h1 {
    color: rgb(107, 33, 168);
  }

  h2 {
    color: rgb(217, 119, 6);
    font-weight: 500;
  }

  p, ul, li, ol, div, td {
    color: #003B4E;
  }

  h1 + p {
    @apply mt-4 opacity-100 mb-4;
  }

  h1 + h2 {
    @apply mt-4 mb-2;
  }

  :not(pre) > code {
    background: rgba(107, 33, 168, .1);
  }

  .img-center {
    margin: 0 auto;
    height: 100vh;
  }

  .col-left,
  .col-right {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .center-v {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .slidev-layout.quote p {
    font-size: 2rem;
  }

  .col-left {
    margin-right: 1rem;
  }

  .col-right {
    margin-left: 1rem;
  }
}

div[class*="mr-14"] {
  background-size: contain !important;
}

thead { 
  display: none;
}

tr:first-of-type td {
  padding-top: 0;
}

tr:last-of-type {
  border: 0;
}

tr:last-of-type td {
  padding-bottom: 0;
}

.slidev-layout td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

td:first-of-type {
  color: rgb(217, 119, 6);
  font-size: 1.1rem;
  vertical-align: top;
}

td:nth-of-type(2) {
  font-size: 0.8rem;

  ul {
    font-size: 0.6rem;
    display: flex;
    list-style: none;
    margin-top: 0.6rem;

    li {
      flex: 1;
      margin: 0;
      padding: 0.2rem 0.4rem;
      border-radius: 2px;
      background: rgb(156 163 175 / var(--un-border-opacity));
      
      &:nth-of-type(2) {
        margin: 0 0.8rem;
      }
    }
  }
}

td:nth-of-type(3) {
  font-size: 0.6rem;
}

td ul {
  margin-bottom: 0 !important;
}
